body {
    font-family: Arial, sans-serif;
}
h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}
.container {
    display: flex;
    width: 100%;
}
.container .blue, .container .red {
    width: 50%;
    height: 20vh;
}
.blue {
    background-color: aquamarine;
}
.red {
    background-color: aqua;
}
hr {
    margin: 40px 0;
}
footer {
    text-align: right;
    font-style: italic;
    font-family: monospace;
}